.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: 1.5rem;
}

.section__subtitle {
  color: #a19fad;
  display: block;
  font-size: .813rem;
  margin-bottom: 3rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  max-width: 768px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  background-color: #25262A;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: space-between;
  max-width: 968px;
}

.nav__logo,
.nav__toggle {
  color: white;
  font-weight: 500;
}

.nav__logo:hover {
  color: #54f396;
}

.nav__toggle {
  cursor: pointer;
  font-size: 1.1rem;
}

.nav__toggle:hover {
  color: #54f396;
}

.nav__list {
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.nav__link {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: .813rem;
  font-weight: 500;
}

.nav__link:hover {
  color: #54f396;
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  bottom: .5rem;
  color: #54f396;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  right: 1.3rem;
}

.nav__close:hover {
  color: #54f396;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    background-color: #25262A;
    border-radius: 1.5rem 1.5rem 0 0;
    bottom: -100%;
    left: 0;
    padding: 2rem 1.5rem 4rem;
    position: fixed;
    transition: .3s;
    width: 100%;
  }
}

.show-menu {
  bottom: 0;
}

.home__container {
  gap: 1rem;
}

.home__content {
  align-items: center;
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  color: #54f396;
  font-size: 1.25rem;
}

.home__social-icon:hover {
  color: #04ff6c;
}

.home__data {
  grid-column: 1/3;
}

.home__title {
  font-size: 2rem;
}

.home__subtitle {
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: .75rem;
}

.home__scroll {
  display: none;
}

.home__scroll-button {
  color: #54f396;
  transition: .3s;
}

.home__scroll-mouse {
  font-size: 2rem;
}

.home__scroll-name {
  color: white;
  font-size: .813rem;
  font-weight: 500;
  margin-right: .25rem;
}

.home__scroll-arrow {
  font-size: 1.25rem;
}

.button {
  background-color: #54f396;
  border-radius: .5rem;
  color: black;
  display: inline-block;
  font-weight: 500;
  padding: 1rem;
}

.button:hover {
  background-color: #04ff6c;
}

.button__icon {
  font-size: 1.25rem;
  margin-left: .5rem;
  transition: .3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/* Blob */
.home__blob {
  width: 200px;
}

.home__img {
  margin-left: 14%;
  margin-right: 14%;
}

.home__blob-img {
  width: 245px;
}

/* About */
.about__img {
  align-self: center;
  border-radius: .5rem;
  justify-content: center;
  margin: auto;
  width: 300px;
}

.about__description {
  text-align: center;
}

.about__description-last {
  margin-bottom: 2.5rem;
  text-align: center;
}

.about__buttons {
  display: flex;
  justify-content: center;
}

/* Skills */
.skills__container {
  display: grid;
  grid-gap: 30px 30px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.skills__img {
  justify-self: center;
  width: 120px;
}

/* Qualification */
.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.qualification__button {
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
}

.qualification__button:hover {
  color: #54f396;
}

.qualification__icon {
  font-size: 1.8rem;
  margin-right: .25rem;
}

.qualification__img {
  width: 270px;
}

.qualification__data {
  column-gap: 1.5rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}

.qualification__title {
  font-size: .938rem;
  font-weight: 500;
}

.qualification__subtitle {
  display: inline-block;
  font-size: .813rem;
  margin-bottom: 1rem;
}

.qualification__calendar {
  color: white;
  font-size: .75rem;
}

.qualification__rounder {
  background-color: #54f396;
  border-radius: 50%;
  display: inline-block;
  height: 13px;
  width: 13px;
}

.qualification__line {
  background-color: #54f396;
  display: block;
  height: 100%;
  transform: translate(6px, -7px);
  width: 1px;
}

.qualification [data-content] {
  display: none;
}

.qualification__active[data-content] {
  display: block;
}

.qualification__button.qualification__active {
  color: #54f396;
}

/* Portfolio */
.portfolio__container {
  overflow: initial;
}

.portfolio__content {
  padding: 0 1.5rem;
}

.portfolio__img {
  border-radius: .5rem;
  justify-self: center;
  width: 265px;
}

.portfolio__img-mobile {
  border-radius: .5rem;
  justify-self: end;
  align-self: baseline;
  width: 125px;
}

.portfolio__title {
  font-size: 1.125rem;
  margin-bottom: .5rem;
}

.portfolio__description {
  margin-bottom: .75;
}

.portfolio__button {
  margin-top: 3px;
}

.portfolio__button:hover .button__icon {
  transform: translateX(.25rem);
}

div .swiper-button-prev::after,
div .swiper-button-next::after {
  color: #54f396;
  font-size: 1.1rem;
  font-weight: 700;
}

.swiper-pagination-bullets {
  justify-self: center;
  margin-bottom: -1rem;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #54f396;
}

div .swiper-button-prev,
div .swiper-button-next,
.swiper-pagination-bullets .swiper-pagination-bullet {
  outline: none;
}

/* Testimonial */
.testimonial__data,
.testimonial__header {
  display: flex;
}

.testimonial__data {
  justify-content: space-between;
  margin-bottom: 1rem;
}

.testimonial__img {
  border-radius: 50%;
  height: 60px;
  margin-right: .75rem;
  width: 60px;
}

.testimonial__name {
  font-size: 1.125rem;
  font-weight: 500;
}

.testimonial__classmate {
  color: #a19fad;
  font-size: .813rem;
}

.testimonial__description {
  font-style: italic;
  margin-bottom: 2.5rem;
}

.testimonial__icon-star {
  color: #54f396;
}

.swiper-pagination-bullets-dynamic {
  margin-bottom: 0.5rem;
}

.testimonial__content {
  padding: 0 1.1rem;
}

.swiper-slide {
  display: grid !important;
}

/* Contact */
.contact__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact__information {
  display: flex;
  margin-bottom: 2rem;
}

.contact__icon {
  color: #54f396;
  font-size: 2rem;
  margin-right: .75rem;
}

.contact__title {
  font-size: 1.125rem;
  font-weight: 500;
}

.contact__subtitle {
  color: white;
  font-size: .813rem;
}

/* Footer */
.footer {
  padding-top: 2rem;
}

.footer__container {
  row-gap: 3.5rem;
}

.footer__bg {
  background-color: #54f396;
  padding: 2rem 0 3rem;
}

.footer__title {
  font-size: 1.5rem;
  margin-bottom: .25rem;
}

.footer__subtitle {
  font-size: .813rem;
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer__link:hover {
  color: rgb(83, 83, 83);
}

.footer__social {
  font-size: 1.25rem;
  margin-right: 1.5rem;
}

.footer__social:hover {
  color: rgb(83, 83, 83);
}

.footer__copy {
  color: rgb(70, 70, 70);
  font-size: .75rem;
  margin-top: 3rem;
  text-align: center;
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: black;
}

/* Particles */
#tsparticles {
  height:100%;
  margin: 0;
  padding: 0;
  position : fixed;
  top: 0;
  z-index: -1;
  width:100%;
}

/* Media query */
@media screen and (max-width: 567px) {
  .container {
    margin-left: 1rem;
    margin-right: .7rem;
  }

  .nav__menu {
    padding: 2rem .25rem 4rem;
  }

  .nav__list {
    column-gap: 0;
  }

  .home__content {
    grid-template-columns: .25fr 3fr;
  }

  .home__blob {
    width: 180px;
  }

  .skills__title {
    font-size: .938rem;
  }

  .qualification__data {
    gap: .4rem;
  }

  .testimonial__data,
  .testimonial__header {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__img {
    margin-right: 0;
    margin-bottom: .25rem;
  }

  .testimonial__data,
  .testimonial__description {
    text-align: center;
  }

  div .swiper-button-prev::after {
    margin-bottom: 6rem;
  }

  div .swiper-button-next::after {
    margin-bottom: 6rem;
  }

  .portfolio__img-mobile {
    align-content: flex-end;
    justify-self: center;
  }

  .skills__img {
    justify-self: center;
    width: 60px;
  }
}

@media screen and (min-width: 568px) {
  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }

  .home__data {
    grid-column: initial;
  }

  .home__img {
    order: 1;
    justify-self: center;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__img {
    margin-top: 50px;
  }

  .qualification__sections {
    display: flex;
    grid-template-columns: .6fr;
    justify-content: center;
  }

  .portfolio__content,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  div .swiper-button-prev::after {
    margin-left: -1.3rem;
  }

  div .swiper-button-next::after {
    margin-right: -1.3rem;
  }

  .portfolio__data {
    height: 250px;
  }

  .skills__img {
    justify-self: center;
    width: 80px;
  }

}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .section__subtitle {
    margin-bottom: 4rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .main,
  .footer__container {
    padding: 0 1rem;
  }

  .nav {
    height: 4.5rem;
    column-gap: 1rem;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    column-gap: 2rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .nav__link {
    font-size: 0.9rem;
  }

  .nav__logo {
    font-size: 1.1rem;
  }

  .home__container {
    row-gap: 5rem;
  }

  .home__content {
    column-gap: 2rem;
    padding: 5.5rem 0 0 1.5rem;
  }

  .home__blob {
    width: 270px;
  }

  .home__scroll {
    display: block;
  }

  .home__scroll-button {
    margin-left: 3rem;
  }

  .about__container {
    column-gap: 5rem;
  }

  .about__img {
    margin-top: 4px;
    width: 350px;
  }

  .about__description {
    text-align: initial;
  }

  .qualification__tabs {
    justify-content: center;
  }

  .qualification__button {
    margin: 0 1rem;
  }

  .qualification__sections {
    grid-template-columns: .5fr;
  }

  .portfolio__img {
    margin-top: -60px;
    width: 320px;
  }

  .portfolio__content {
    align-items: center;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__bg {
    padding: 3rem 0 3.5rem;
  }

  .footer__links {
    flex-direction: row;
    column-gap: 2rem;
  }

  .footer__socials {
    justify-self: flex-end;
  }

  .skills__img {
    justify-self: center;
    width: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer__container {
    padding: 0;
  }

  .home__blob {
    width: 285px;
  }

  .home__social {
    transform: translateX(-6rem);
  }

  .portfolio__content {
    column-gap: 5rem;
  }

  div .swiper-button-prev::after {
    margin-left: -2.4rem;
  }

  div .swiper-button-next::after {
    margin-right: -2.4rem;
  }

  div.swiper-pagination-bullets-dynamic {
    height: 15px;
    margin-bottom: 0;
  }
}
